/* Google Fonts */
/* Agdasima */
@import url('https://fonts.googleapis.com/css2?family=Agdasima&display=swap');
/* font-family: 'Agdasima', sans-serif; */

/* Plus Jarkata Sans */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300&display=swap');
/* font-family: 'Plus Jakarta Sans', sans-serif; */

/* PT Snas Caption */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap');
/* font-family: 'PT Sans Caption', sans-serif; */

/* IBM Plex Sans */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200&display=swap');
/* font-family: 'IBM Plex Sans', sans-serif; */

html {
    scroll-behavior: smooth;

    transition: all ease-in-out 400ms;
}

::selection {
    background-color: rgba(85, 255, 184, 0.555);
}

::-webkit-scrollbar {
    background: transparent;
    width: 7px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgb(205, 205, 205);
    border-radius: 50px;
}

body {
    background-color: rgb(255, 255, 255);
    
    padding: 0px;
    margin: 0px;
    
    scroll-behavior: smooth;
    transition: all ease-in-out 400ms;
}

a {
    user-select: none;
}

/* Header */
.hdn {
    display: none;
}

.header {
    /* border-bottom: 1px solid black; */
    background-color: rgba(255, 255, 255, 0.241);

    backdrop-filter: blur(10px) brightness(80%);
    
    display: inline;
    height: 5vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1;

    transition: all ease-in-out 400ms;
    -webkit-transition: all 400ms ease;
    -moz-transition: position 400ms;
    -ms-transition: position 400ms;
    -o-transition: position 400ms;
    animation: smoothScroll 200ms forwards;
}

#menu-nav {
    /* border: 1px solid red; */

    height: 5vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#menu-nav .menu-nav-el {
    color: rgb(80, 80, 80);

    text-decoration: none;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 1.1em;

    user-select: none;

    padding-inline: 1rem;

    transition: all ease-in-out 400ms;
}
#menu-nav .menu-nav-el:hover {
    color: rgb(20, 20, 20);

    transition: all ease-in-out 400ms;
}
/* Main */
main {
    overflow-x: hidden;
    overflow-y: hidden;
}

#mn-nv {
    /* border: 1px solid black; */

    display: inline-block;

    height: 5vh;
    width: 100vw;

    transition: all ease-in-out 400ms;
}

#mn-nv nav {
    height: 5vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

    transition: all ease-in-out 400ms;
}

#mn-nv nav .mn-nv-el {
    color: rgb(161, 161, 161);

    padding-inline: 1rem;

    text-decoration: none;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 1.1em;

    user-select: none;

    transition: all ease-in-out 400ms;
}
#mn-nv nav .mn-nv-el:hover {
    color: rgb(0, 0, 0);

    transition: all ease-in-out 400ms;
}

#uc {
    background-color: aliceblue;
}

#uc-tag {
    background-color: rgba(0, 0, 0, 0.874);
    color: white;
    
    padding: 1rem;
    
    border-radius: 1rem;
    display: inline-flex;
    position: relative;
    /* top: 40vh; */
    left: 10vw;

    font-family: 'Plus Jakarta Sans', sans-serif;
}

#under-construction {
    border-radius: 1rem;

    box-shadow: 0px 0px 50px 20px rgb(238, 222, 254);

    position: relative;
    left: 20vw;
}


/* Footer */
footer {
    border-top: 1px solid rgb(194, 194, 194);

    height: 7vh;
    
    z-index: 0;
    /* position: relative; */
    
    margin-bottom: 2vh;
    padding-top: 3vh;
}

#ft-cnt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    margin-inline: 5vw;
}

#copyright {
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 0.7em;

    transition: all ease-in-out 400ms;
}

#copyright a {
    color: rgb(54, 54, 54);
}

#credits a {
    color: rgb(103, 103, 103);

    font-family: 'PT Sans Caption', sans-serif;

    text-decoration: none;
    cursor: pointer;

    transition: all ease-in-out 400ms;
}
#credits a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

/* Animations */

@keyframes smoothScroll {
    0% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0px);
    }
}